@page "/consumers/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Consumer</h3>
<hr />
<br /> 

<FormComponent ButtonText="Create Consumer" consumer="consumer" OnValidSubmit="@CreateConsumer" />



@code {
    Consumer consumer = new Consumer();

    private async Task CreateConsumer()
    {
        await _client.PostAsJsonAsync(Endpoints.ConsumersEndpoint, consumer);
        _navManager.NavigateTo("/consumers/");
    }
}
