<br />
<br />
<footer>
    <p>&copy; 2024 - 3J Game Solutions Pte Ltd. All rights reserved.</p>
</footer>

<style>
    footer {
        position: static;
        color: #001f3f;
        text-align: justify;
        padding: 10px;
        border-top: 10px solid; 
        border-image: linear-gradient(to right, #001f3f, #0066cc);
        border-image-slice: 1;
    }
</style>