@page "/"

<PageTitle>GameVerse</PageTitle>

<h1>Welcome to GameVerse!</h1>

<h5>
    Unlock a world of gaming delights with personalized reviews and recommendations. <br /> 
    Level up your gaming experience with us!
</h5>

<img src="GameWebsite.jpeg" alt="GameVerse Image" width="700" height="600">

@* <SurveyPrompt Title="How is Blazor working for you?" />  *@
