@page "/"

<PageTitle>GameVerse</PageTitle>

<h1>Welcome to GameVerse!</h1>

<h5>
    Unlock a world of gaming delights with personalized reviews and recommendations. <br /> 
    Join our online community and purchase games directly here. <br />
    Level up your gaming experience with us!
</h5>

<img src="GameWebsite.jpeg" height="700">


