@page "/reviews/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Review</h3>

<FormComponent review="review" Disabled="true" /> @*disable textfield*@


@code {
    [Parameter] public int id { get; set; }
    Review? review = new Review();
    protected async override Task OnParametersSetAsync()
    {
        review = await
        _client.GetFromJsonAsync<Review>($"{Endpoints.ReviewsEndpoint}/{id}");
    }
}